body {
  background-image: url(../img/me.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  color: magenta;
}

p {
  color: white;
}

.image {
  float: right;
}
